body {
  font-family: sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
canvas {
  display: block;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
header {
  text-align: center;
  padding: 20px 0;
  background: #90909040;
}
#menu {
  width: 100%;
  table-layout: fixed;
}
#menu th {
  height: 80%;
  border-right: 2px solid #ccc;
}
#menu th:last-child {
  border-right: none;
}
section {
  margin: 20px 0;
}
/* sectionのh2で先頭に■を追加するやつ */
section h2::before {
  content: "■ ";
}
h1 {
  color: #404040;
}
h2 {
  border-bottom: 2px solid #909090;
  color: #5a5a5a;
}
th {
  color: #404040;
}
p {
  color: #404040;
}
li {
  color: #404040;
}
a i {
  color: #5a5a5a;
  font-size: 250%;
  margin-right: 15px;
}
footer {
  font-size: 80%;
}
